<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kenan's Project </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/html/favicon.ico">
    <link rel="icon" href="~/html/favicon.ico" type="~/image/x-icon">


    <!-- Data Table CSS -->
    <link href="~/html/vendors/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/html/vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Tablesaw table CSS -->
    <link href="~/html/vendors/tablesaw/dist/tablesaw.css" rel="stylesheet" type="text/css" />


    <!-- Toggles CSS -->
    <link href="~/html/vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="~/html/vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">


    <!-- Bootstrap table CSS -->
    <link href="~/html/vendors/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css" />


    <!-- Custom CSS -->
    <link href="~/html/dist/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- Preloader End -->
    <!-- HK Wrapper Start -->

    <div class="hk-wrapper hk-vertical-nav">

        <!-- Top Navbar Start -->
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top hk-navbar">
            <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><i class="ion ion-ios-menu"></i></a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img class="brand-img d-inline-block" src="~/html/dist/img/logo-dark.png" alt="brand" />
            </a>
            <ul class="navbar-nav hk-navbar-content">
                <li class="nav-item">
                    <a id="navbar_search_btn" class="nav-link nav-link-hover" href="javascript:void(0);"><i class="ion ion-ios-search"></i></a>
                </li>
                <li class="nav-item dropdown dropdown-authentication">
                    <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar">
                                    <img src="~/html/dist/img/avatar12.jpg" alt="user" class="avatar-img rounded-circle">
                                </div>
                                <span class="badge badge-success badge-indicator"></span>
                            </div>
                            <div class="media-body">
                                    <span>Hello @User.Identity.Name</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <a class="dropdown-item" href="profile.html"><i class="dropdown-icon zmdi zmdi-account"></i><span>Profile</span></a>
                        <div class="dropdown-divider"></div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="dropdown-icon zmdi zmdi-power"></i><span>Log out</span></a>
                        }
                       
                    </div>
                </li>
            </ul>
        </nav>
        <form role="search" class="navbar-search">
            <div class="position-relative">
                <a href="javascript:void(0);" class="navbar-search-icon"><i class="ion ion-ios-search"></i></a>
                <input type="text" name="example-input1-group2" class="form-control" placeholder="Type here to Search">
                <a id="navbar_search_close" class="navbar-search-close" href="#"><i class="ion ion-ios-close"></i></a>
            </div>
        </form>
        <!-- Top Navbar End -->
        <!-- Vertical Nav Start -->
        <nav class="hk-nav hk-nav-light">
            <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
            <div class="nicescroll-bar">
                <div class="navbar-nav-wrap">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <ul id="dash_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Statistics</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-with-badge" href="javascript:void(0);" data-toggle="collapse" data-target="#app_drp">
                                <i class="ion ion-ios-apps"></i>
                                <span class="nav-link-text">Application</span>
                            </a>
                            <ul id="app_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Calendar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">File Manager</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#auth_drp">
                                <i class="ion ion-ios-person-add"></i>
                                <span class="nav-link-text">Authentication</span>
                            </a>
                            <ul id="auth_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Account" asp-action="Register">
                                                Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Account" asp-action="Login">
                                                Login
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#recover_drp">
                                                Recover Password
                                            </a>
                                            <ul id="recover_drp" class="nav flex-column collapse collapse-level-2">
                                                <li class="nav-item">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">Forgot Password</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">Reset Password</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Error 404</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Maintenance</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#pages_drp">
                                <i class="ion ion-ios-copy"></i>
                                <span class="nav-link-text">Pages</span>
                            </a>
                            <ul id="pages_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Invoice</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Activity</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Faq</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr class="nav-separator">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <ul id="utilities_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#forms_drp">
                                <i class="ion ion-ios-list-box"></i>
                                <span class="nav-link-text">Forms</span>
                            </a>
                            <ul id="forms_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Form Mask</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Form Wizard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">File Upload</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Editor</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#tables_drp">
                                <i class="ion ion-ios-today"></i>
                                <span class="nav-link-text">Employees</span>
                            </a>
                            <ul id="tables_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                        <li class="nav-item active">
                                            <a asp-controller="Employees" asp-action="Index" class="nav-link">Employees Table</a>
                                        </li>
                                        @if (User.IsInRole(StaticData.PayrollRole))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Employees" asp-action="Create">Create</a>
                                            </li>
                                        }

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Responsive Table</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Editable Table</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">

                            <ul id="charts_drp" class="nav flex-column collapse collapse-level-1">
                                <li class="nav-item">
                                    <ul class="nav flex-column">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr class="nav-separator">
                </div>
            </div>
        </nav>
        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!-- Vertical Nav End -->

        <div class="hk-pg-wrapper">
            <div class="container" style="overflow-x:auto">

                @RenderBody()
            </div>

            <!-- Footer Start-->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="#" class="text-dark" target="_blank">Kenan</a> © 2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="https://www.facebook.com/kenan996.kb" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    <!-- HK Wrapper End -->

    <!-- jQuery -->
    <script src="~/html/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Data Table JavaScript -->
    <script src="~/html/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/html/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/html/vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/html/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/html/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/html/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/html/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/html/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/html/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/html/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/html/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/html/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/html/dist/js/dataTables-data.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="~/html/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/html/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/html/dist/js/jquery.slimscroll.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="~/html/dist/js/feather.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/html/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Tablesaw JavaScript -->
    <script src="~/html/vendors/tablesaw/dist/tablesaw.jquery.js"></script>
    <script src="~/html/dist/js/tablesaw-data.js"></script>

    <!-- Toggles JavaScript -->
    <script src="~/html/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="~/html/dist/js/toggle-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/html/dist/js/init.js"></script>

    <!-- Peity JavaScript -->
    <script src="~/html/vendors/peity/jquery.peity.min.js"></script>
    <script src="~/html/dist/js/peity-data.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>