@model HrPayrollFinalProject.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Signup</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/html/favicon.ico">
    <link rel="icon" href="~/html/favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="~/html/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->

    <!-- HK Wrapper Start -->
    <div class="hk-wrapper">

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top hk-navbar">
            <a class="navbar-brand"  asp-controller="Home" asp-action="Index">
                <img class="brand-img d-inline-block" src="~/html/dist/img/logo-dark.png" alt="brand" />
            </a>
            <ul class="navbar-nav hk-navbar-content">
                <li class="nav-item">
                <li class="nav-item dropdown dropdown-notifications">
                    <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <div class="notifications-nicescroll-bar">
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-img-wrap">
                                        <div class="avatar avatar-sm">
                                            <span class="avatar-text avatar-text-primary rounded-circle">
                                                <span class="initial-wrap"><span><i class="zmdi zmdi-account font-18"></i></span></span>
                                            </span>
                                        </div>
                                    </div>
                                 
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </li>
              
            </ul>
        </nav>
        <!--Navbar End-->

        <!-- Register Content Start -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <header class="d-flex justify-content-end align-items-center"></header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="auth-form-wrap pt-xl-0 pt-70">
                            <div class="auth-form w-xl-30 w-lg-55 w-sm-75 w-100">
                                <form asp-action="Register">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <h1 class="display-4 mb-10 text-center">Register</h1>
                                    <div class="form-row">
                                        <div class="col-md-6 form-group">
                                            <label asp-for="Name"></label>
                                            <input class="form-control" asp-for="Name" />
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label asp-for="Surname"></label>
                                            <input class="form-control" asp-for="Surname" />
                                            <span class="text-danger" asp-validation-for="Surname"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input class="form-control" asp-for="Email" />
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Username"></label>
                                        <input class="form-control" asp-for="Username" />
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input class="form-control" asp-for="Password">
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input class="form-control" asp-for="ConfirmPassword">
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <button class="btn btn-success btn-block" asp-action="Register">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Register Content End -->

    </div>
    <!-- /HK Wrapper End -->

    <!-- jQuery -->
    <script src="~/html/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/html/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/html/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/html/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/html/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="~/html/dist/js/feather.min.js"></script>

    <!-- Toggles JavaScript -->
    <script src="~/html/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="~/html/dist/js/toggle-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/html/dist/js/init.js"></script>
</body>

</html>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}